<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p><strong>本当に退会しますか</strong></p>
        </div>
    </div>
    
    
    
</div>