<div class="container about">
  <div class="row align-items-center about__inner">
    <div class="col-12">
      <div class="row flex-wrap">
        <div class="col-12 text-center">
          <h2 class="about__heading text-danger mb-4">About</h2>
          <p>ながのCAKEは全国発送可能なケーキ屋さんです</p>
          <p>お子様からお年寄りの方までお召し上がりいただけるよう、<br>さまざまなバリエーションをご用意しております。</p>
          <p>また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</p>
          <p>ぜひ、ご注文ください。</p>
        </div>

        <div class="col-12 mt-3 about__img-wrap">
          <%= image_tag 'items/img-6.jpg', class: 'w-100 h-100 about__img' %>
        </div>
      </div>
    </div>
  </div>
</div>