<div class="container">
    <div class="row">
        <div class="col">
            山田花子さんの注文履歴
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-3">購入日時</div>
        <div class="col-md-3">購入者</div>
        <div class="col-md-3">注文個数</div>
        <div class="col-md-3">注文ステータス</div>
    </div>
    
    <div class="row">
         <% @orders.each do |order| %>
            <div class="col-md-3">
                <%= order.created_at %>
            </div>
            
            <div class="col-md-3">
                <%= order.customer.last_name + order.customer.first_name %>
            </div>
        
            <div class="col-md-3">
                <% @total_amount = 0 %>
                <% order.order_details.each do |order_detail| %>
                    <%= @total_amount += order_detail.amount %>
                <% end %>
            </div>
            
            <div class="col-md-3">
                <%= order.status %>
            </div>
        <% end %>
    </div>
    
    
</div>