<table class="table">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mb-3 px-4">
        <%= link_to '全商品', genres_filter_path(0), remote: true %>
      </td>
    </tr>
    <% @genres.each do |genre| %>
      <tr>
        <td class="mb-3 px-4">
          <%= link_to genres_filter_path(genre.id), remote: true do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>