<div class="container">
    <div class="row mt-5 mb-3 justify-content-between">
        <div class="col-md-3">
            <%= render 'public/genres/search-box' %>
        </div>
        
        <div class="col-md-8">
            <%= render 'list' %>
        </div>
    </div>
</div>