<div class="container">
    <div class="row flex-sm-row-reverse mt-5 mb-3 justify-content-between">
        <div class="col-md-8">
            <%= render 'list', items_name: @select_genre_name %>
        </div>

        <div class="col-md-3 mt-md-0 mt-5">
            <%= render 'public/genres/search-box' %>
        </div>
    </div>
</div>