<div class="container">
    <div class="row mt-5 mb-3 justify-content-between">
        <div class="col-md-3">
            <%= render 'public/genres/list' %>
        </div>
        
        <div id="item-list" class="col-md-8">
            <%= render 'public/items/list' %>
        </div>
    </div>
</div>